TMA_SignalOpenLevel={{ signal_open_level | default(0) | float }}
TMA_True_Indi_TMA_True_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
TMA_True_Indi_TMA_True_AtrMultiplier={{ (atr_multiplier | default(1) | float) }}
TMA_True_Indi_TMA_True_AtrPeriod={{ (atr_period | default(1) | int) }}
TMA_True_Indi_TMA_True_BarsToProcess={{ (bars_to_process | default(1) | float) }}
TMA_True_Indi_TMA_True_HalfLength={{ (half_length | default(0) | float) }}
TMA_True_Indi_TMA_True_MA_Method={{ ma_method | default(0) }}
TMA_True_Indi_TMA_True_Period={{ (period | default(0) | int) }}
TMA_True_Indi_TMA_True_Shift={{ (shift | default(0) | int) }}
TMA_True_Indi_TMA_True_Timeframe={{ (atr_tf | default(0) | float) }}
TMA_True_LotSize={{ lot_size | default(0) }}
TMA_True_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
TMA_True_PriceStopMethod={{ price_stop_method | default(0) }}
TMA_True_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
TMA_True_SignalCloseMethod={{ signal_close_method | default(0) }}
TMA_True_SignalOpenBoostMethod,1=1
TMA_True_SignalOpenBoostMethod,2=1
TMA_True_SignalOpenBoostMethod,3=8
TMA_True_SignalOpenBoostMethod,F=1
TMA_True_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
TMA_True_SignalOpenFilterMethod={{  signal_open_filter | default(1) }}
TMA_True_SignalOpenLevel={{ signal_open_level | default(0) | float }}
TMA_True_SignalOpenMethod={{ signal_open_method | default(0) }}
TMA_True_TickFilterMethod={{ tick_filter_method | default(1) }}
